.admin-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}
.admin-panel-title{
    font-size: 34px;
    color: #505050;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%, 80px);
}
.navbar .profile{
    width: 40px;
}